@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200&family=IBM+Plex+Sans+Thai:wght@100&family=Kanit:wght@100&family=Outfit:wght@700&family=Roboto:wght@100;300&display=swap");
* {
  font-family: "Athiti", sans-serif;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 16px;
  color: black;
}
nav {
  color: white;
  display: flex;
  height: 60px;
  border: 2px solid black;
  background-color: black;
  padding: 5px;
  width: 100vw;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonGroup {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-right: 25px;
}

.content {
  margin: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
